[Interface]
Address = 192.168.2.1/24,fd83:e5ed:8d96:68c1::1/64
ListenPort = 51820
PrivateKey = {{ wireguard.private_key }}
PostUp = iptables -t nat -A POSTROUTING -o eno1 -j MASQUERADE; ip6tables -t nat -A POSTROUTING -o eno1 -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o eno1 -j MASQUERADE; ip6tables -t nat -D POSTROUTING -o eno1 -j MASQUERADE

{% for peer in wireguard.peers %}
[Peer]
PublicKey={{ peer.public_key }}
{% if "preshared_key" in peer %}
PresharedKey={{ peer.preshared_key }}
{% endif %}
AllowedIPs=192.168.2.{{ peer.ip }}/32,fd83:e5ed:8d96:68c1::{{ peer.ip }}/128

{% endfor %}