---
services:
  - items:
{% for srv in services | rejectattr("page", "undefined") | selectattr("page","in", ["home", "admin"]) | sort(attribute="name") %}
      - name: "{{ srv.title | default(srv.name | capitalize) }}"
        logo: "/assets/logos/{{ srv.logo | default(srv.name+'.png') }}"
        subtitle: "{{ srv.description | default(none) }}"
        tag: "app"
        tagstyle: "is-success"
        url: "https://{{ srv.name }}.{{ domain }}/"
{% endfor %}