---
subtitle: "La route est longue mais la voie est libre."
title: "Lyriste Carrefour"
#logo: "assets/logo.png"
icon: "fas fa-archway"

header: true # Set to false to hide the header
footer: false

columns: "4" # "auto" or number (must be a factor of 12: 1, 2, 3, 4, 6, 12)
connectivityCheck: true # whether you want to display a message when the apps are not accessible anymore (VPN disconnected for example)

theme: default

colors:
  light:
    highlight-primary: transparent
    highlight-secondary: transparent
    highlight-hover: "rgba(0, 0, 0, 0.1)"
    text-header: "#ffffff"
    background-image: "/assets/main-menu_david-revoy.jpg"
  dark:
    highlight-primary: transparent
    highlight-secondary: transparent
    highlight-hover: "rgba(0, 0, 0, 0.1)"
    background-image: "/assets/main-menu_david-revoy.jpg"

#stylesheet:
#  - "assets/style.css"

message:
  # url: "https://<my-api-endpoint>" # Can fetch information from an endpoint to override value below.
  style: "is-warning"
  title: "Pas fini !"
  icon: "fa fa-exclamation-triangle"
  content: "Cette page est en cours de construction..."

links:
  - name: "Mon compte"
    icon: "fas fa-user-circle"
    url: "https://authelia.{{ domain }}/authenticated"
  - name: "Wiki"
    icon: "fas fa-book"
    url: "https://hedgedoc.lyriste.fr/s/r1Fzc3y5w#"
  - name: "Code Source"
    icon: "fab fa-git-alt"
    url: "https://gitlab.com/lyriste"

services:
  - items:
{% for srv in services | rejectattr("page", "undefined") | selectattr("page","eq","home") | sort(attribute="name") %}
      - name: "{{ srv.title | default(srv.name | capitalize) }}"
        logo: "/assets/logos/{{ srv.logo | default(srv.name+'.png') }}"
        subtitle: "{{ srv.description | default(none) }}"
        tag: "app"
        tagstyle: "is-success"
        url: "https://{{ srv.name }}.{{ domain }}/"
{% endfor %}