host: 0.0.0.0
port: 9091

log_level: debug

default_redirection_url: https://{{ domain }}

jwt_secret: "{{ authelia.jwt }}"

totp:
  issuer: {{ domain }}

authentication_backend:
  ldap:
    implementation: custom
    url: ldap://openldap
    base_dn: dc=lyriste,dc=fr
    additional_users_dn: ou=users
    additional_groups_dn: ou=groups
    users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=inetOrgPerson))
    groups_filter: (&(member={dn})(objectclass=groupOfNames))
    display_name_attribute: cn
    username_attribute: uid
    group_name_attribute: cn
    mail_attribute: mail
    user: cn=admin,dc=lyriste,dc=fr
    password: "{{ ldap.admin_pass }}"
    tls:
      skip_verify: true

access_control:
  default_policy: one_factor
  rules:
    - domain: lyriste.fr
      policy: bypass

    - domain: searx.lyriste.fr
      policy: bypass
      networks:
        - 192.168.1.0/24

    - domain: traefik.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: netdata.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: scrutiny.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: jackett.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: radarr.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: sonarr.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: lidarr.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: readarr.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: qbittorrent.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: nzbhydra2.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: nzbget.lyriste.fr
      policy: one_factor
      subject: "group:admin"

    - domain: adminer.lyriste.fr
      policy: one_factor
      subject: "group:admin"

session:
    name: authelia_session
    secret: "{{ authelia.session }}"
    domain: lyriste.fr

storage:
  local:
    path: /config/db.sqlite3

notifier:
  smtp:
    username: "{{smtp.user}}"
    password: "{{smtp.password}}"
    host: "{{smtp.host}}"
    port: {{smtp.port}}
    sender: admin@{{domain}}
