instanceDetails:
  name: Résilience Conf
  title: Résilience Conference
  summary: "Conférence à propos d'une ville et une technologie résiliente pour un avenir durable au service de tous."

  logo: /img/logo.svg

  tags:
    - resilience
    - ville
    - technologie

videoSettings:
  streamingKey: "{{ owncast.streamingKey }}"

  streamQualities:
    - very high:
      videoBitrate: 4000
      encoderPreset: medium
    - high:
      videoBitrate: 1500
      encoderPreset: medium
    - medium:
      videoBitrate: 1200
      encoderPreset: medium

disableUpgradeChecks: false
