<?php

define('PLUGIN_INSTALLER', true);

define('LDAP_AUTH', true);
define('LDAP_SERVER', 'openldap');
define('LDAP_SSL_VERIFY', false);
define('LDAP_START_TLS', false);

define('LDAP_BIND_TYPE', 'proxy');
define('LDAP_USERNAME', 'cn=readonly,dc=lyriste,dc=fr');
define('LDAP_PASSWORD', '{{ ldap.readonly_pass }}');

define('LDAP_USER_BASE_DN', 'ou=users,dc=lyriste,dc=fr');
define('LDAP_USER_FILTER', '(&(uid=%s)(objectClass=inetOrgPerson))');
define('LDAP_USER_ATTRIBUTE_USERNAME', 'uid');
define('LDAP_USER_ATTRIBUTE_FULLNAME', 'cn');
define('LDAP_USER_ATTRIBUTE_EMAIL', 'mail');

define('LDAP_GROUP_ADMIN_DN', 'cn=admin,ou=groups,dc=lyriste,dc=fr');
define('LDAP_GROUP_BASE_DN', 'ou=groups,dc=lyriste,dc=fr');
define('LDAP_GROUP_USER_FILTER', '(&(member=%s)(objectclass=groupOfNames))');
define('LDAP_GROUP_ATTRIBUTE_NAME', 'cn');
define('LDAP_GROUP_USER_ATTRIBUTE', 'dn');

define('MAIL_CONFIGURATION', true);
define('MAIL_FROM', 'notifications@{{domain}}');
define('MAIL_TRANSPORT', 'smtp');
define('MAIL_SMTP_HOSTNAME', '{{smtp.host}}');
define('MAIL_SMTP_PORT', {{smtp.port}});
define('MAIL_SMTP_USERNAME', '{{smtp.user}}');
define('MAIL_SMTP_PASSWORD', '{{smtp.password}}');
define('MAIL_SMTP_ENCRYPTION', 'tls');