{
  "cloudflare": [
    {
      "authentication": {
          "api_token": "{{ cloudflare.token }}"
      },
      "zone_id": "{{ cloudflare.zone }}",
      "subdomains": [
        "",
        "*"
      ],
      "proxied": false
    }
  ]
}