version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true
  adminer_net:
    external: true

services:
  database:
    image: postgres:13-alpine
    restart: unless-stopped
    networks:
      - default
      - adminer_net
    volumes:
      - "{{ volumes.services }}/hedgedoc/data:/var/lib/postgresql/data"
    environment:
      POSTGRES_PASSWORD: "{{ hedgedoc.db_pass }}"
      POSTGRES_USER: codimd

  hedgedoc:
    image: quay.io/hedgedoc/hedgedoc:1.7.2
    container_name: hedgedoc
    restart: unless-stopped
    networks:
      - default
      - traefik_net
      - openldap_net
    volumes:
      - "{{ volumes.services }}/hedgedoc/uploads:/hedgedoc/public/uploads"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      CMD_DB_URL: "postgres://codimd:{{ hedgedoc.db_pass }}@database:5432/codimd"
      CMD_DOMAIN: "hedgedoc.lyriste.fr"
      CMD_URL_ADDPORT: "false"
      CMD_PROTOCOL_USESSL: "true"
      CMD_OAUTH2_USER_PROFILE_URL: "{{ oauth.userinfo }}"
      CMD_OAUTH2_USER_PROFILE_ID_ATTR: "id"
      CMD_OAUTH2_USER_PROFILE_USERNAME_ATTR: "preferred_username"
      CMD_OAUTH2_USER_PROFILE_DISPLAY_NAME_ATTR: "name"
      CMD_OAUTH2_USER_PROFILE_EMAIL_ATTR: "email"
      CMD_OAUTH2_TOKEN_URL: "{{ oauth.token }}"
      CMD_OAUTH2_AUTHORIZATION_URL: "{{ oauth.authorization }}"
      CMD_OAUTH2_CLIENT_ID: "hedgedoc"
      CMD_OAUTH2_CLIENT_SECRET: "{{ hedgedoc.client_secret }}"
      CMD_OAUTH2_PROVIDERNAME: Keycloak
      CMD_EMAIL: "false"
      CMD_ALLOW_GRAVATAR: "true"
      CMD_DEFAULT_PERMISSION: "limited"
      CMD_ALLOW_ANONYMOUS: "false"
      CMD_ALLOW_ANONYMOUS_EDITS: "true"
      CMD_IMAGE_UPLOAD_TYPE: "filesystem"
    depends_on:
      - database
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.hedgedoc.rule=Host(`hedgedoc.{{ domain }}`)"
      - "traefik.http.routers.hedgedoc.entrypoints=websecure"
