version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true
  adminer_net:
    external: true

services:
  postgres:
    image: postgres:13-alpine
    networks:
      - default
      - adminer_net
    volumes:
      - "{{ volumes.services }}/kanboard/data:/var/lib/postgresql/data"
    environment:
      POSTGRES_PASSWORD: "{{ kanboard.db_pass }}"
      POSTGRES_USER: kanboard

  kanboard:
    image: kanboard/kanboard:latest
    container_name: kanboard
    restart: unless-stopped
    networks:
      - default
      - traefik_net
      - openldap_net
    volumes:
      - "{{ volumes.services }}/kanboard/plugins:/var/www/app/plugins"
      - "{{ volumes.services }}/kanboard/config:/var/www/app/data"
      - "{{ volumes.services }}/kanboard/ssl:/etc/nginx/ssl"
    environment:
      TZ: "{{ tz }}"
      DATABASE_URL: "postgres://kanboard:{{ kanboard.db_pass }}@postgres:5432/kanboard"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.kanboard.rule=Host(`kanboard.{{ domain }}`)"
      - "traefik.http.routers.kanboard.entrypoints=websecure"