version: "3"

networks:
  traefik_net:
    external: true

services:
  plex:
    image: ghcr.io/linuxserver/plex
    container_name: plex
    restart: unless-stopped
    networks:
      - traefik_net
    ports:
      - 32400:32400/tcp
    volumes:
      - "{{ volumes.services }}/plex/config:/config"
      - "{{ volumes.services }}/plex/transcode:/transcode"
      - "{{ volumes.media }}/tv:/tv"
      - "{{ volumes.media }}/movies:/movies"
      - "{{ volumes.media }}/music:/music"
    devices:
      - "/dev/dri:/dev/dri"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      PLEX_CLAIM: "{{ plex.claim }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plex.rule=Host(`plex.{{ domain }}`)"
      - "traefik.http.routers.plex.entrypoints=websecure"
      - "traefik.http.services.plex-plex.loadbalancer.server.port=32400"

