version: "3"

networks:
  traefik_net:
    external: true

services:
  lidarr:
    image: ghcr.io/linuxserver/lidarr
    container_name: lidarr
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/lidarr/config:/config"
      - "{{ volumes.media }}/music:/music"
      - "{{ volumes.media }}/downloads:/downloads"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.{{ domain }}`)"
      - "traefik.http.routers.lidarr.entrypoints=websecure"
      - "traefik.http.routers.lidarr.middlewares=authelia@docker"
