version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true

services:
  authelia:
    image: authelia/authelia:4
    container_name: authelia
    restart: unless-stopped
    networks:
      - traefik_net
      - openldap_net
    volumes:
      - "{{ volumes.services }}/authelia/config:/config"
    environment:
      TZ: "{{ tz }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authelia.rule=Host(`authelia.{{ domain }}`)"
      - "traefik.http.routers.authelia.entrypoints=websecure"
      - "traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://authelia.{{ domain }}"
      - "traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true"
      - "traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User, Remote-Groups"
      - "traefik.http.middlewares.authelia-simple.forwardauth.address=http://authelia:9091/api/verify?rd=https://authelia.{{ domain }}"
      - "traefik.http.middlewares.authelia-simple.forwardauth.trustForwardHeader=true"
