version: "3"

networks:
  traefik_net:
    external: true

services:
  ombi:
    image: ghcr.io/linuxserver/ombi:development
    container_name: ombi
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/ombi/config:/config"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ombi.rule=Host(`ombi.{{ domain }}`)"
      - "traefik.http.routers.ombi.entrypoints=websecure"
#      - "traefik.http.routers.ombi.middlewares=authelia@docker"
