version: "3"

networks:
  traefik_net:
    external: true
  net:

services:
  openldap:
      image: osixia/openldap:stable
      container_name: openldap
      restart: unless-stopped
      networks:
        - net
      volumes:
        - "{{ volumes.services }}/openldap/data:/var/lib/ldap"
        - "{{ volumes.services }}/openldap/config:/etc/ldap/slapd.d"
      environment:
        LDAP_ORGANISATION: "{{ ldap.org }}"
        LDAP_DOMAIN: "{{ domain }}"
        LDAP_ADMIN_PASSWORD: "{{ ldap.admin_pass }}"
        LDAP_READONLY_USER: "true"
        LDAP_READONLY_USER_PASSWORD: "{{ ldap.readonly_pass }}"

  phpldapadmin:
    image: osixia/phpldapadmin:stable
    container_name: phpldapadmin
    restart: unless-stopped
    networks:
      - net
      - traefik_net
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "openldap"
      PHPLDAPADMIN_HTTPS: "false"
    depends_on:
      - openldap
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openldap.rule=Host(`openldap.{{ domain }}`)"
      - "traefik.http.routers.openldap.entrypoints=websecure"
 