version: "3"

networks:
  traefik_net:
    external: true

services:
  mozillaiot:
    image: webthingsio/gateway
    container_name: webthingsio
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/mozillaiot/config:/home/node/.mozilla-iot"
    environment:
      TZ: "{{ tz }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mozillaiot.rule=Host(`mozillaiot.{{ domain }}`)"
      - "traefik.http.routers.mozillaiot.entrypoints=websecure"
      - "traefik.http.services.mozillaiot-mozillaiot.loadbalancer.server.port=8080"