version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true

services:
  penpot-frontend:
    image: penpotapp/frontend:latest
    restart: unless-stopped
    volumes:
      - "{{ volumes.services }}/penpot/config:/opt/data"
    depends_on:
      - penpot-backend
      - penpot-exporter
    networks:
      - default
      - traefik_net
    environment:
      - PENPOT_LOGIN_WITH_LDAP=true
      - PENPOT_ALLOW_DEMO_USERS=false
      - PENPOT_REGISTRATION_ENABLED=false
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.penpot.rule=Host(`penpot.{{ domain }}`)"
      - "traefik.http.routers.penpot.entrypoints=websecure"

  penpot-backend:
    image: "penpotapp/backend:latest"
    restart: unless-stopped
    networks:
      - default
      - openldap_net
    volumes:
      - "{{ volumes.services }}/penpot/config:/opt/data"
    depends_on:
      - penpot-postgres
      - penpot-redis
    environment:
      - PENPOT_PUBLIC_URI=https://penpot.{{domain}}
      - PENPOT_DATABASE_URI=postgresql://penpot-postgres/penpot
      - PENPOT_DATABASE_USERNAME=penpot
      - PENPOT_DATABASE_PASSWORD={{penpot.db_pass}}
      - PENPOT_REDIS_URI=redis://penpot-redis/0
      - PENPOT_STORAGE_BACKEND=fs
      - PENPOT_STORAGE_FS_DIRECTORY=/opt/data/assets
      - PENPOT_TELEMETRY_ENABLED=true
      - PENPOT_SMTP_ENABLED=true
      - PENPOT_SMTP_DEFAULT_FROM=penpoty@{{domain}}
      - PENPOT_SMTP_DEFAULT_REPLY_TO={{admin_email}}
      - PENPOT_SMTP_HOST={{smtp.host}}
      - PENPOT_SMTP_PORT={{smtp.port}}
      - PENPOT_SMTP_USERNAME={{smtp.user}}
      - PENPOT_SMTP_PASSWORD={{smtp.password}}
      - PENPOT_SMTP_TLS=true
      - PENPOT_SMTP_SSL=false
      - PENPOT_LDAP_HOST=openldap
      - PENPOT_LDAP_PORT=389
      - PENPOT_LDAP_VERSION=3
      - PENPOT_LDAP_BIND_DN=cn=admin,dc=lyriste,dc=fr
      - PENPOT_LDAP_BIND_PASSWORD={{ldap.admin_pass}}
      - PENPOT_LDAP_SSL=false
      - PENPOT_LDAP_STARTTLS=false
      - PENPOT_LDAP_BASE_DN=ou=users,dc=lyriste,dc=fr
      - PENPOT_LOGIN_WITH_LDAP=true
      - PENPOT_ALLOW_DEMO_USERS=false
      - PENPOT_REGISTRATION_ENABLED=false

  penpot-exporter:
    image: "penpotapp/exporter:latest"
    restart: unless-stopped
    environment:
      - PENPOT_PUBLIC_URI=http://penpot-frontend

  penpot-postgres:
    image: "postgres:13"
    restart: unless-stopped
    stop_signal: SIGINT
    environment:
      - POSTGRES_INITDB_ARGS=--data-checksums
      - POSTGRES_DB=penpot
      - POSTGRES_USER=penpot
      - POSTGRES_PASSWORD={{penpot.db_pass}}
    volumes:
      - "{{ volumes.services }}/penpot/data:/var/lib/postgresql/data"

  penpot-redis:
    image: redis:6
    restart: unless-stopped
