version: "3"

networks:
  traefik_net:
    external: true

services:
  homer:
    image: b4bz/homer
    container_name: homer
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/homer/config:/www/assets"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homer.rule=Host(`{{ domain }}`)"
      - "traefik.http.routers.homer.entrypoints=websecure"
