version: "3"

networks:
  traefik_net:
    external: true

services:
  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/radarr/config:/config"
      - "{{ volumes.media }}/movies:/movies"
      - "{{ volumes.media }}/downloads:/downloads"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.{{ domain }}`)"
      - "traefik.http.routers.radarr.entrypoints=websecure"
      - "traefik.http.routers.radarr.middlewares=authelia@docker"
