version: "3"

networks:
  traefik_net:
    external: true

services:
  vpn:
    image: bubuntux/nordvpn:3.8.4
    container_name: qbittorrent-vpn
    networks:
      - traefik_net
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      net.ipv4.conf.all.rp_filter: 2
    devices:
      - /dev/net/tun
    environment:
      TZ: "{{ tz }}"
      USER: "{{vpn.user}}"
      PASS: "{{vpn.pass}}"
      CONNECT: "fr -g P2P"
      TECHNOLOGY: NordLynx
      NETWORK: "172.19.0.0/16"
      WHITELIST: "rarbg.to,rarbg.me,yts.am"
      GROUPID: 0

  qbittorrent:
    image: ghcr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped
    network_mode: service:vpn
    depends_on:
      - vpn
    volumes:
      - "{{ volumes.services }}/qbittorrent/config:/config"
      - "{{ volumes.media }}/downloads:/downloads"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.{{ domain }}`)"
      - "traefik.http.routers.qbittorrent.entrypoints=websecure"
      - "traefik.http.routers.qbittorrent.middlewares=authelia@docker"
      - "traefik.http.services.qbittorrent-qbittorrent.loadbalancer.server.port=8080"
      - "traefik.http.services.qbittorrent-qbittorrent.loadbalancer.passhostheader=false"