version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true
  adminer_net:
    external: true

services:
  postgres:
    image: postgres:13-alpine
    networks:
      - default
      - adminer_net
    restart: unless-stopped
    volumes:
      - "{{ volumes.services }}/nextcloud/data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: "{{ nextcloud.db_pass }}"

  redis:
    image: redis:alpine
    networks:
      - default
    restart: unless-stopped
    command: redis-server --requirepass "{{ nextcloud.redis_pass }}"

  onlyoffice:
    image: onlyoffice/documentserver
    container_name: onlyoffice
    restart: unless-stopped
    networks:
      - default
      - traefik_net
    volumes:
      - "{{ volumes.services }}/nextcloud/onlyoffice_logs:/var/log/onlyoffice"
      - "{{ volumes.services }}/nextcloud/onlyoffice_data:/var/www/onlyoffice/Data"
    environment:
      TZ: "{{ tz }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.onlyoffice.rule=Host(`onlyoffice.{{ domain }}`)"
      - "traefik.http.routers.onlyoffice.entrypoints=websecure"
      - "traefik.http.middlewares.onlyoffice-headers.headers.accesscontrolalloworigin=*"
      - "traefik.http.middlewares.onlyoffice-headers.headers.customRequestHeaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.onlyoffice.middlewares=onlyoffice-headers"

  nextcloud:
    image: nextcloud:21
    container_name: nextcloud
    restart: unless-stopped
    networks:
      - default
      - traefik_net
      - openldap_net
    volumes:
      - "{{ volumes.services }}/nextcloud/config:/var/www/html"
    environment:
      TZ: "{{ tz }}"
      POSTGRES_HOST: postgres
      POSTGRES_DB: nextcloud
      POSTGRES_USER: nextcloud
      POSTGRES_PASSWORD: "{{ nextcloud.db_pass }}"
      REDIS_HOST: redis
      REDIS_HOST_PASSWORD: "{{ nextcloud.redis_pass }}"
      APACHE_DISABLE_REWRITE_IP: "1"
      TRUSTED_PROXIES: traefik
      OVERWRITEHOST: "nextcloud.{{ domain }}"
      NEXTCLOUD_TRUSTED_DOMAINS: "nextcloud.{{ domain }} onlyoffice.{{ domain }}"
      NEXTCLOUD_ADMIN_USER: ladm
      NEXTCLOUD_ADMIN_PASSWORD: "{{ nextcloud.admin_pass }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.{{ domain }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.middlewares.nextcloud-caldav.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud-caldav.redirectregex.regex=^https://(.*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-caldav.redirectregex.replacement=https://$${1}/remote.php/dav/"
      - "traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=155520011"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-caldav@docker,nextcloud-headers@docker"
    depends_on:
      - postgres
      - redis
