version: "3"

networks:
  net:
    driver: bridge

services:
  traefik:
    container_name: traefik
    security_opt:
      - no-new-privileges:true
    image: traefik:latest
    restart: unless-stopped
    networks:
      - net
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ volumes.services }}/traefik/traefik.yml:/traefik.yml"
      - "{{ volumes.services }}/traefik/provider.yml:/provider.yml"
      - "{{ volumes.services }}/traefik/acme.json:/acme.json"
    environment:
      CF_DNS_API_TOKEN: "{{ cloudflare.token }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.{{ domain }}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=authelia@docker"
