version: "3"

networks:
  traefik_net:
    external: true

services:
  readarr:
    image: hotio/readarr:nightly
    container_name: readarr
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/readarr/config:/config"
      - "{{ volumes.media }}/books:/books"
      - "{{ volumes.media }}/downloads:/downloads"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.readarr.rule=Host(`readarr.{{ domain }}`)"
      - "traefik.http.routers.readarr.entrypoints=websecure"
      - "traefik.http.routers.readarr.middlewares=authelia@docker"
