version: "3"

networks:
  traefik_net:
    external: true

services:
  scrutiny:
    image: analogj/scrutiny
    container_name: scrutiny
    restart: unless-stopped
    cap_add:
      - SYS_RAWIO
    networks:
      - traefik_net
    volumes:
      - "/run/udev:/run/udev:ro"
    devices:
      - "/dev/sda"
      - "/dev/sdb"
      - "/dev/sdc"
      - "/dev/sdd"
      - "/dev/sde"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.scrutiny.rule=Host(`scrutiny.{{ domain }}`)"
      - "traefik.http.routers.scrutiny.entrypoints=websecure"
      - "traefik.http.routers.scrutiny.middlewares=authelia@docker"
