version: "3"

networks:
  traefik_net:
    external: true
  net:

services:
  adminer:
    image: adminer
    container_name: adminer
    restart: unless-stopped
    networks:
      - net
      - traefik_net
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adminer.rule=Host(`adminer.{{ domain }}`)"
      - "traefik.http.routers.adminer.entrypoints=websecure"
      - "traefik.http.routers.adminer.middlewares=authelia@docker"
