version: "3"

networks:
  traefik_net:
    external: true

services:
  nzbget:
    image: ghcr.io/linuxserver/nzbget
    container_name: nzbget
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/nzbget/config:/config"
      - "{{ volumes.media }}/downloads:/downloads"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nzbget.rule=Host(`nzbget.{{ domain }}`)"
      - "traefik.http.routers.nzbget.entrypoints=websecure"
      - "traefik.http.routers.nzbget.middlewares=authelia@docker"
