version: "3"

networks:
  traefik_net:
    external: true

services:
  owncast:
    image: gabekangas/owncast:latest
    container_name: owncast
    restart: unless-stopped
    networks:
      - traefik_net
    ports:
      - 1935:1935
    volumes:
      - "{{ volumes.services }}/owncast/config.yaml:/app/config.yaml"
      - "{{ volumes.services }}/owncast/GeoLite2-City.mmdb:/app/data/GeoLite2-City.mmdb"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.owncast.rule=Host(`owncast.{{ domain }}`)"
      - "traefik.http.routers.owncast.entrypoints=websecure"
      - "traefik.http.services.owncast-owncast.loadbalancer.server.port=8080"
