version: "3"

networks:
  traefik_net:
    external: true

services:
  minio:
    image: minio/minio
    container_name: minio
    restart: unless-stopped
    command: server /data
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/minio/data:/data"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      MINIO_ROOT_USER: "{{ minio.user }}"
      MINIO_ROOT_PASSWORD: "{{ minio.password }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.minio.rule=Host(`minio.{{ domain }}`)"
      - "traefik.http.routers.minio.entrypoints=websecure"
