version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true

services:
  postgres:
    image: postgres:13-alpine
    restart: unless-stopped
    volumes:
      - "{{ volumes.services }}/codimd/data:/var/lib/postgresql/data"
    environment:
      POSTGRES_PASSWORD: "{{ codimd.db_pass }}"
      POSTGRES_USER: codimd

  codimd:
    image: quay.io/codimd/server
    container_name: codimd
    restart: unless-stopped
    networks:
      - default
      - traefik_net
      - openldap_net
    volumes:
      - "{{ volumes.services }}/codimd/config:/config"
    environment:
      TZ: "{{ tz }}"
      CMD_DB_URL: "postgres://codimd:{{ codimd.db_pass }}@postgres:5432/codimd"
      CMD_LDAP_URL: "ldap://openldap"
      CMD_LDAP_BINDDN: "cn=readonly,dc=lyriste,dc=fr"
      CMD_LDAP_BINDCREDENTIALS: "{{ ldap.readonly_pass }}"
      CMD_LDAP_SEARCHBASE: "ou=users,dc=lyriste,dc=fr"
      CMD_LDAP_SEARCHFILTER: "{% raw %}(&(|(uid={{username}})(mail={{username}}))(objectClass=inetOrgPerson)){% endraw %}"
      CMD_LDAP_USERIDFIELD: "cn"
      CMD_LDAP_PROVIDERNAME: "Lyriste"
      CMD_EMAIL: "false"
      CMD_ALLOW_GRAVATAR: "false"
      CMD_DEFAULT_PERMISSION: "limited"
      CMD_ALLOW_ANONYMOUS: "false"
      CMD_ALLOW_ANONYMOUS_EDITS: "true"
    depends_on:
      - postgres
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.codimd.rule=Host(`codimd.{{ domain }}`)"
      - "traefik.http.routers.codimd.entrypoints=websecure"
