version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true
  adminer_net:
    external: true

services:
  postgresql:
    image: postgres:12
    volumes:
      - "{{ volumes.services }}/authentik/data:/var/lib/postgresql/data"
    environment:
      POSTGRES_PASSWORD: "{{ authentik.db_pass }}"
      POSTGRES_USER: authentik
    networks:
      - default
      - adminer_net

  redis:
    image: redis

  server:
    image: beryju/authentik
    command: server
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ authentik.db_pass }}"
      AUTHENTIK_SECRET_KEY: "{{ authentik.secret }}"
      AUTHENTIK_EMAIL__HOST: "{{ smtp.host }}"
      AUTHENTIK_EMAIL__PORT: "{{ smtp.port }}"
      AUTHENTIK_EMAIL__USERNAME: "{{ smtp.user }}"
      AUTHENTIK_EMAIL__PASSWORD: "{{ smtp.password }}"
      AUTHENTIK_EMAIL__USE_TLS: "true"
      AUTHENTIK_EMAIL__TIMEOUT: "10"
      AUTHENTIK_EMAIL__FROM: "authentik@lyriste.fr"
      AUTHENTIK_LOG_LEVEL: "debug"
    volumes:
      - "{{ volumes.services }}/authentik/media:/media"
      - "{{ volumes.services }}/authentik/custom-templates:/templates"
    networks:
      - default
      - traefik_net
      - openldap_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authentik-server.rule=Host(`authentik.{{ domain }}`)"
      - "traefik.http.routers.authentik-server.entrypoints=websecure"
      - "traefik.http.routers.authentik-server.service=authentik-server"
      - "traefik.http.services.authentik-server.loadbalancer.healthcheck.hostname=authentik-healthcheck-host"
      - "traefik.http.services.authentik-server.loadbalancer.server.port=8000"

  worker:
    image: beryju/authentik
    command: worker
    environment:
      AUTHENTIK_REDIS__HOST: redis
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
      AUTHENTIK_POSTGRESQL__PASSWORD: "{{ authentik.db_pass }}"
      AUTHENTIK_SECRET_KEY: "{{ authentik.secret }}"
      AUTHENTIK_EMAIL__HOST: "{{ smtp.host }}"
      AUTHENTIK_EMAIL__PORT: "{{ smtp.port }}"
      AUTHENTIK_EMAIL__USERNAME: "{{ smtp.user }}"
      AUTHENTIK_EMAIL__PASSWORD: "{{ smtp.password }}"
      AUTHENTIK_EMAIL__USE_TLS: "true"
      AUTHENTIK_EMAIL__TIMEOUT: "10"
      AUTHENTIK_EMAIL__FROM: "authentik@lyriste.fr"
      AUTHENTIK_LOG_LEVEL: "debug"
    volumes:
      - "{{ volumes.services }}/authentik/backups:/backups"
      - "{{ volumes.services }}/authentik/custom-templates:/templates"
    networks:
      - default
      - openldap_net

  static:
    image: beryju/authentik-static
    networks:
      - default
      - traefik_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authentik-static.rule=Host(`authentik.{{ domain }}`) && PathPrefix(`/static`, `/media`, `/robots.txt`, `/favicon.ico`)"
      - "traefik.http.routers.authentik-static.entrypoints=websecure"
      - "traefik.http.routers.authentik-static.service=authentik-static"
      - "traefik.http.services.authentik-static.loadbalancer.healthcheck.path=/"
      - "traefik.http.services.authentik-static.loadbalancer.server.port=80"
    volumes:
      - "{{ volumes.services }}/authentik/media:/usr/share/nginx/html/media"

  proxy:
    image: beryju/authentik-proxy
    restart: unless-stopped
    networks:
      - default
      - traefik_net
    environment:
      AUTHENTIK_HOST: "https://authentik.{{ domain }}"
      AUTHENTIK_INSECURE: "false"
      AUTHENTIK_TOKEN: "{{ authentik.proxy_token }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authentik-proxy.rule=HostRegexp(`{{ domain }}`, `{subdomain:[a-z]+}.{{ domain }}`)"
      - "traefik.http.routers.authentik-proxy.entrypoints=websecure"
      - "traefik.http.routers.authentik-proxy.service=authentik-proxy"
      - "traefik.http.routers.authentik-proxy.priority=1"
      - "traefik.http.services.authentik-proxy.loadbalancer.server.port=4180"
