version: "3"

services:
  valheim:
    image: lloesche/valheim-server
    container_name: valheim
    restart: unless-stopped
    ports:
      - 2456-2458:2456-2458/udp
    volumes:
      - "{{ volumes.services }}/valheim/config:/config"
      - "{{ volumes.services }}/valheim/data:/opt/valheim"
    environment:
      TZ: "{{ tz }}"
      SERVER_NAME: "Lyriste Valheim"
      SERVER_PASS: "{{ valheim.secret }}"
      SERVER_PUBLIC: "false"
      BACKUPS: "false"
      VALHEIM_PLUS: "true"
      VPCFG_Server_enforceMod: "false"
      VPCFG_AdvancedBuildingMode_enabled: "true"
      VPCFG_AdvancedEditingMode_enabled: "true"
      VPCFG_Map_enabled: "true"
      VPCFG_Map_shareMapProgression: "true"
