version: "3"

networks:
  traefik_net:
    external: true
  openldap_net:
    external: true

services:
  postgres:
    image: postgres:13-alpine
    volumes:
      - "{{ volumes.services }}/keycloak/data:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: "{{ keycloak.db_pass }}"
  keycloak:
    image: quay.io/keycloak/keycloak:12.0.2
    container_name: keycloak
    restart: unless-stopped
    networks:
      - default
      - traefik_net
      - openldap_net
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_SCHEMA: public
      DB_PASSWORD: "{{ keycloak.db_pass }}"
      KEYCLOAK_USER: "{{ keycloak.user }}"
      KEYCLOAK_PASSWORD: "{{ keycloak.password }}"
      PROXY_ADDRESS_FORWARDING: "true"
    depends_on:
      - postgres
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`keycloak.{{ domain }}`)"
      - "traefik.http.routers.keycloak.entrypoints=websecure"
