version: "3"

services:
  cloudflare-ddns:
    image: timothyjmiller/cloudflare-ddns:latest
    container_name: cloudflare-ddns
    restart: unless-stopped
    network_mode: "host"
    security_opt:
      - no-new-privileges:true
    environment:
      - PUID={{ uid }}
      - PGID={{ gid }}
    volumes:
      - "{{ volumes.services }}/ddns/config.json:/config.json"
