version: "3"

networks:
  traefik_net:
    external: true

services:
  searx:
    image: searx/searx
    container_name: searx
    restart: unless-stopped
    networks:
      - traefik_net
    volumes:
      - "{{ volumes.services }}/searx/config:/etc/searx"
    environment:
      TZ: "{{ tz }}"
      PUID: "{{ uid }}"
      PGID: "{{ gid }}"
      BASE_URL: "https://searx.{{ domain }}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.searx.rule=Host(`searx.{{ domain }}`)"
      - "traefik.http.routers.searx.entrypoints=websecure"
      - "traefik.http.routers.searx.middlewares=authelia-simple@docker"
