[Unit]
Description=Lyriste root service
After=zfs.target docker.service
Requires=zfs.target docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'zfs get mounted {{ datasets.root }} | grep yes'

[Install]
WantedBy=multi-user.target
