[Unit]
Description=Lyriste {{ service_name }} service
After=lyriste.service
PartOf=lyriste.service

[Service]
User={{ user }}
Group={{ group }}
TimeoutStartSec=infinity
TimeoutStopSec=5min
Restart=always
RestartSec=3
WorkingDirectory={{ volumes.services }}/{{ service_name }}/

ExecStart=docker-compose -p {{ service_name }} up
ExecStop=docker-compose -p {{ service_name }} down

[Install]
WantedBy=lyriste.service
