log:
  level: ERROR

api:
  dashboard: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: letsencrypt
        domains:
        - main: "{{domain}}"
          sans: 
            - "*.{{domain}}"

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ admin_email }}
      storage: acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
          - "1.1.1.1:53"
          - "8.8.8.8:53"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    network: traefik_net
    exposedByDefault: false
  file:
    filename: /provider.yml
